:root, :root.light{
  --primary-color: 0, 55, 117;
  --secondary-color: 121, 179, 59;
  --text-color: 19, 19, 19;
  --background-color: 243, 243, 243;
  --static-black-color: 19, 19, 19;
  --static-white-color: 243, 243, 243;
  --error-color: 209, 0, 0;
  --glassy: 0.05;
}

:root.dark {
  --primary-color: 51, 130, 219;
  --secondary-color: 121, 179, 59;
  --text-color: 243, 243, 243;
  --background-color: 19, 19, 19;
  --static-black-color: 30, 30, 30;
  --static-white-color: 243, 243, 243;
  --glassy: 0.025;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(var(--background-color));
  color: rgb(var(--text-color));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*------------------------------------------------*/
/*general styles*/
.absPos{
  position: absolute;
}

.absPos.right{
  right: 0.5em;
  top: 20%;
  overflow: hidden;
}

.absPos.right .accordeonWrapper div div{
  background-color: rgba(var(--static-black-color), 0.75);
}

.accordeonWrapper{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.accordeonWrapper div .content{
  padding: 0.5em;
  margin: 0;
}

.accordeonCh{
  overflow-y: scroll;
  max-height: 60vh;
}

.accordeonElem{
  transform: scaleX(0);
  width: 0;
  transform-origin: right;
  transition: all 0.5s ease-in-out;
}

.accordeonElem.visible{
  transform: scaleX(1);
  width: 50%;
}

.absPos.right .accordeonWrapper{
  justify-content: flex-end;
}

.accordeonElem.content{
  width: auto;
  transform: scaleX(1) translateX(calc(100% - 1.25em));
  display: flex;
}

.accordeonElem.visible.content{
  transform: scaleX(1) translateX(calc(0% + 0.75em));
}

.BGLogoContainer{
  position: absolute;
  z-index: -1;
  opacity: 0.025;
  max-height: 95vh;
}

:root.light{
  .BGLogoContainer{
    filter: invert(1);
    opacity: 0.04;
  }
}

.blue{
  color: rgb(var(--primary-color));
}

.centered{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error{
  color: rgb(var(--error-color));
  border-color: rgb(var(--error-color));
}

.flexWrapper{
  display: flex;
  flex-wrap: wrap;
}

.flexWrapper.spaceAround{
  justify-content: space-around;
}

.glassyCard{
  background-color: rgba(var(--text-color), var(--glassy));
  padding: 1em;
  border-radius: 1em;
}

.green{
  color: rgb(var(--secondary-color));
}

.heightCenter{
  min-height: 100vh;
  justify-content: center;
}

.heightCenter.content{
  margin: 0;
  padding: 0;
  min-height: 95vh;
}

.horCenter{
  justify-content: center;
}

input{
  background-color: transparent;
  border-color: rgb(var(--text-color));
  border-style: solid;
  border-radius: 0.25em;
  padding: 0.25em;
  margin: 0em 0.25em;
  color: rgb(var(--text-color));
}

input.number{
  width: 3em;
}

img{
  user-select: none;
}

.left{
  text-align: left;
}

.minHeight{
  height: min-content;
}

.noTopSpace{
  margin-top: -0.25em;
}

.oneLine{
  min-width:max-content;
}

.relPos{
  position: relative;
}

.row{
  flex-direction: row;
  flex-wrap: nowrap;
}

.right{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: max-content;
}

.spacer{
  height: 0.5em;
  width: 0.5em;
}

.widthMax{
  min-width: calc(100% - 7em);
}

/*------------------------------------------------*/
/*button styles*/
.btn{
  border-radius: 4px;
  padding: 0.65em 1.15em;
  margin: 0.1em;
  background-color: transparent;
  color: rgb(var(--primary-color));
  font-weight: bold;
  border: none;
}

.btn:enabled:hover{
  background-color: rgba(var(--primary-color), 0.2);
}

.btn:disabled{
  opacity: 0.5;
}

.btn.green{
  color: rgb(var(--secondary-color));
}

.btn.green:enabled:hover{
  background-color: rgba(var(--secondary-color), 0.2);
}

.btn.Class1{
  background-color: rgb(var(--primary-color));
  color: rgb(var(--static-white-color));
}  

.btn.Class1.green{
  background-color: rgb(var(--secondary-color));
  color: rgb(var(--static-black-color));
}

.btn.Class1:enabled:hover{
  background-color: rgba(var(--primary-color), 0.9);
}

.btn.Class1.green:enabled:hover{
  background-color: rgba(var(--secondary-color), 0.8);
}

.btn.Class2{
  padding: 0.5em 1em;
  border: 0.2em solid rgb(var(--primary-color));
}

.btn.Class2.green{
  border-color: rgb(var(--secondary-color));
}

:root.light{
  .btn.Class2.green{
    color: rgb(var(--text-color));
  }
}

.btn.Class3{
  font-weight: normal;
  text-decoration: underline;
  color: unset;
}

.btn.Class3.noUnderline{
  text-decoration: none;
}

/*------------------------------------------------*/
/*href styles*/
.href{
  border-radius: 4px;
  padding: 0.65em 1.15em;
  margin: 0.1em;
  background-color: transparent;
  color: rgb(var(--primary-color));
  border: none;
  font-size: small;
  cursor: default;
}

.href:hover{
  background-color: rgba(var(--primary-color), 0.2);
}

.href.green{
  color: rgb(var(--secondary-color));
}

.href.green:hover{
  background-color: rgba(var(--secondary-color), 0.2);
}

.href.Class1{
  background-color: rgb(var(--primary-color));
  font-weight: bold;
  color: rgb(var(--static-white-color));
  text-decoration: none;
}

.href.Class1.green{
  background-color: rgb(var(--secondary-color));
  color: rgb(var(--static-black-color));
}

.href.Class1:hover{
  background-color: rgba(var(--primary-color), 0.9);
}

.href.Class1.green:hover{
  background-color: rgba(var(--secondary-color), 0.8);
}

.href.Class2{
  padding: 0.5em 1em;
  font-weight: bold;
  border: 0.2em solid rgb(var(--primary-color));
  text-decoration: none;
}

.href.Class2.green{
  border-color: rgb(var(--secondary-color));
}
e
.href.Class2.zeroTB{
  padding: 0 1em;
}

.href.Class3{
  text-decoration: underline;
  color: unset;
}

.href.Class3.noUnderline{
  text-decoration: none;
}

.zeroTB{
  padding: 0 1em;
}

/*------------------------------------------------*/
/*page style*/
.pageStructure{
  display: flex;
  flex-direction: row;
}

.content{
  margin: 0.75em;
  width: 100%;
}

/*------------------------------------------------*/
/*menu style*/
.iconWrapper{
  padding-top: 0.25em;
}

.logoContainer{
  position:absolute;
  max-width: 5em;
  z-index: 11;
  left: 1em;
  top: 0.5em;
}

.logoutBG{
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  font-weight: normal;
  padding: 0.5em;
  background-color: rgba(var(--text-color), var(--glassy));
  border-radius: 8px;
}

:root.light{
  .logoutBG{
    background-color: rgba(var(--static-black-color), 0.95);
  }
}

.logoutContainer{
  position: relative;
}

.logoutSlave{
  position: absolute;
  min-width: max-content;
  right: 0;
  transform: scaleY(0);
  transition: all 0.2s;
  transform-origin: top;
  z-index: 10000;
}

.logoutContainer:hover .logoutSlave{
  transform: scaleY(1);
}

.menuBackground{
  background-color: rgba(var(--static-black-color));
  color: rgb(var(--static-white-color));
  padding: 0.5em;
}

.mainMenu{
  display: flex;
  flex-direction: row;
  font-weight: bold;
  padding-left: 7em;
  justify-content: space-between;
}

.mainSlave{
  padding-top: 0.375em;
}

.sideMenu:before {
  content: "";
  position:absolute;
  top: 0px;
  left: 100%;
  height:4em;
  width: 4em;
  border-top-left-radius: 50%;
  background:none; 
  box-shadow: 0 -2em 0 0 rgba(var(--static-black-color));
  z-index: -10;
}

.sideMenu{
  padding-top: 4em;
  min-height: calc(100vh - 7.8em);
  position: relative;
  min-width: 6em;
  max-width: 6em;
  align-content: center;
  display: flex;
  flex-direction: column;
}

/*------------------------------------------------*/
/*login style*/
.cardUnderlay{
    background-color: rgb(var(--background-color));
    border-radius: 1em;
}

/*------------------------------------------------*/
/*table styles*/
thead{
  background-color: rgba(var(--text-color), 0.075);
}

thead tr th{
  padding: 0.5em 1em;
}

tbody tr td{
  padding: 0.25em;
}

tbody tr:nth-child(even){
  background-color: rgba(var(--text-color), 0.04);
}

tr td:first-child{
  border-radius: 0.5em 0 0 0.5em;
}

tr td:last-child{
  border-radius: 0 0.5em 0.5em 0;
}

tr th:first-child{
  border-radius: 0.5em 0 0 0.5em;
}

tr th:last-child{
  border-radius: 0 0.5em 0.5em 0;
}

/*------------------------------------------------*/
/*popup styles*/
.popUp{
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  backdrop-filter: blur(6px) grayscale(0.75);
  opacity: 0;
}

.popUp.visible{
  display: flex;
  opacity: 1;
}

.popUpBorder{
  border: 1px solid;
  border-radius: 1em;
  border-color: rgb(var(--primary-color));
  height: auto;
  width: auto;
  padding: 0.5em;
  transform: translateY(2.7em);
}

.changingBG{
  background-color: rgb(var(--background-color));
  color: rgb(var(--text-color));
  filter: drop-shadow(0px 4px 3px rgba(var(--static-black-color), 0.75));
}

/*------------------------------------------------*/
/*bubble styles*/
.paramContainer{
  display: flex;
  flex-direction: row;
  margin-right: 1em;
}

.paramContainer *{
  margin: 0.25em;
  background-color: rgba(var(--text-color), 0.04);
}

.paramContainer :first-child{
  border-radius: 0.25em 0 0 0.25em;
  padding: 0.3em;
  margin: 0 0.125em 0 0;
}

.paramContainer :last-child{
  border-radius: 0 0.25em 0.25em 0;
  padding: 0.3em;
  margin: 0 0 0 0.125em;
}

.closedBubble{
  border-radius: 1em;
  padding: 0.3em 1em;
  margin: 0 0.125em 0.5em;
  background-color: rgba(var(--primary-color), 0.25);
  display: flex;
  width: min-content;
}

/*------------------------------------------------*/
/*information hover text styles*/
.infoIcon{
  color: rgb(var(--primary-color));
}

.helpText{
  position: absolute;
  display: inline-block;
  transform: scaleY(0) scaleX(0);
  transform-origin: 0 0;
  transition: all 0.25s ease-in-out;
  background-color: rgb(var(--background-color), 0.75);
  padding: 0.5em;
  border-radius: 4px;
  z-index: 5;
  backdrop-filter: blur(4px);
  border: solid 1px;
  border-color: rgba(var(--primary-color), 0.5);
  font-weight: normal;
}

.infoIcon:hover + .helpText{
  transform: scaleY(1) scaleX(1);
}

/*------------------------------------------------*/
/*autoComplete input styles*/
.autoCompleteInputWrapper{
  position: relative;
}

.autoCompleteInput:focus ~ .autoCompleteList{
  transform: scaleY(1);
}

.autoCompleteList{
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgb(var(--background-color), 0.75);
  backdrop-filter: blur(4px);
  border: solid 1px;
  border-color: rgba(var(--primary-color), 0.5);
  margin-top: 0.25em;
  cursor: default;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.25s ease-in-out;
  border-radius: 4px;
  z-index: 100;
}

.autoCompleteList span{
  padding: 0.25em 1em;
}

/*------------------------------------------------*/
/*draggable styles*/
.dragContainer{
  width: calc(100% - 1em);
  height: calc(100vh - 6.15em);
  background-color: rgb(var(--static-white-color));
  color: rgb(var(--static-black-color));
  border-radius: 2em;
  position: relative;
  padding: 1em;
  margin: 0.5em;
  overflow: auto;
  border: 1px dashed;
  border-color: rgb(var(--static-black-color));
  background-image: radial-gradient(rgba(var(--static-black-color), 0.15), 1px, transparent 0);
  background-size: 40px 40px;
}

.dragItem{
  max-width: fit-content;
  padding: 0.5em 1em;
  border: 1px solid;
  border-radius: 8px;
  min-height: 1.25em;
  position: absolute;
  background-color: rgb(var(--static-white-color));
}

.dragItem.flexWrapper{
  padding-right: 0;
}

.absPos .dragItem{
  position: relative;
}

.dragItem:hover{
  background-color: rgba(var(--primary-color), 0.25);
}

.dragItem.diamond{
  background-color: rgba(var(--background-color), 0.075);
  border-radius: 0;
  min-width: 2.5em;
  padding: 0;
  min-height: 2.5em;
  transform: rotateZ(45deg);
}

.DragRound{
  height: 2em;
  width: 2em;
  border: 4px double;
  border-radius: 2em;
  position: absolute;
  display: flex;
  justify-content: center;
  background-color: rgb(var(--static-white-color));
}

.DragRound.end{
  border-width: 4px;
  border-style: solid;
}

.DragRound.start{
  height: calc(2em + 6px);
  width: calc(2em + 6px);
  border: 1px solid;
  border-radius: 2em;
  position: absolute;
}

.dragItemWrapper{
  max-width: min-content;
  position: absolute;
}

.dragItemWrapper .DragRound{
  position: relative;
}

.plusWrapper{
  position: relative;
  height: 2.5em;
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plusWrapper.normalPlus{
  transform: rotate(45deg);
}

.plusStroke{
  min-width: 4px;
  min-height: 1.75em;
  background-color: rgb(var(--static-black-color));
  position: absolute;
}

.plusWrapper :nth-child(2){
  transform: rotate(90deg);
}

.connectionPoint{
  background-color: rgba(var(--static-black-color), 0.25);
  height: 1em;
  width: 1em;
  position: absolute;
  left: calc(50% - 0.5em);
  top: 100%;
  border-radius: 50%;
}

.dragItem.diamond .connectionPoint{
  left: 2.2em;
  top: 2.2em
}

.arrowLabel{
  background-color: rgba(var(--static-white-color),0.4);
  cursor:pointer;
}