.paginationContainer{
    display: flex;
}

.paginationWrapper{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.selectorItem{
    width: 2em;
    height: 2em;
    cursor: pointer;
    text-align: center;
    line-height: 2em;
    margin: 0em 0.25em;
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
    border-color: transparent;
    transition: all 0.1s ease-in-out;
}

.selectorItem:hover{
    border-color: rgb(var(--secondary-color));
}

.selectorCurrent{
    color: rgb(var(--secondary-color));
    border-color: rgb(var(--secondary-color));
}